<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
  <style>
  body {
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857142857143;
  }
  ul {
    margin:0;
    padding:0;
  }
  li {
    margin:0 0 10px 0;
    padding:0;
    list-style-type: none;
    clear:both;
  }
  img {
    border-radius:3px;
    margin-right:5px;
    float:left;
  }
  a {
    color: #3b73af;
    text-decoration:none;
  }
  a:hover {
    text-decoration:underline;
  }
  </style>
  <script src="md5.js"></script>
  <script src='https://cdn.firebase.com/v0/firebase.js'></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
  <ul id="whos-looking" ng-controller="AppCtrl">
    <li ng-repeat="user in users">
      <a href="{{hostBaseUrl}}/secure/ViewProfile.jspa?name={{user.key}}">
        <img ng-src="{{user.imgSrc}}" alt="{{user.name}}">
        <span>{{user.name}}</span>
      </a>
    </li>
  </ul>
  <script>
  // fn to grab query params from url
  function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
  }

  // entry point to the app
  function AppCtrl($scope){
    $scope.hostBaseUrl = getParameterByName('xdm_e') + getParameterByName('cp');
    $scope.users = [];

    // add all.js from the host to this page
    var head = document.getElementsByTagName("head")[0];
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = $scope.hostBaseUrl +'/atlassian-connect/all.js';
    script.setAttribute('data-options','base:true')
    script.onreadystatechange = function () {
      if (this.readyState == 'complete') {
        main();
      }
    };
    script.onload = main;
    head.appendChild(script);

    // main logic of the app... called after all.js is loaded
    function main(){
      // who's looking firebase reference
      var wlRef = new Firebase('https://connect.firebaseio.com/whos-looking/');

      // get logged in user
      AP.getUser(function(user){
        // get URL of host page
        AP.getLocation(function(url){
          // md5 the URI
          var md5Url = md5(url.indexOf('?')>0 ? url.slice(0,url.indexOf('?')) : url);
          var pageRef = wlRef.child('/pages/'+md5Url);
          var userRef = pageRef.child('/'+user.key);

          // render the logged in user
          function showUser(userSnap){
            var parser = document.createElement('a');
            parser.href= url;
            var hostBaseUrl = parser.protocol + '//' + parser.host;
            $scope.$apply(function () {
              $scope.users.push({
                key: userSnap.val().key,
                name: userSnap.val().displayName,
                imgSrc: userSnap.val().avatarUrls['24x24']
              });
            });
            // resize the frame as we add new users
            AP.resize();
          }

          // track connected users
          var connectedRef = new Firebase('https://connect.firebaseio.com/.info/connected');
          connectedRef.on('value', function(snap) {
            if (snap.val() === true) {
              // get users details
              AP.request({
                url: "/rest/api/2/user?username=" + user.id,
                success: function(data){
                  userRef.set(JSON.parse(data));
                }
              });

              // remove the user on disconnect
              userRef.onDisconnect().remove();
            }
          });

          // remove avatars when user disconnects
          pageRef.on('child_removed', function(userSnap){
            for(var i=0;i<$scope.users.length;i++){
              if($scope.users[i].key === userSnap.val().key) {
                $scope.$apply(function () {
                  $scope.users.splice(i,1);
                });
                AP.resize();
                break;
              }
            }
          });

          // Show avatar when user connects
          pageRef.on('child_added', function(userSnap){
            showUser(userSnap);
          });
        });
      });
    };
  };
  </script>
</body>
</html>
